name: Continuous integration of flask ml webapp with Github Actions

on:
  # Triggers the workflow on push request events but only for the master branch
  push:
    branches:
    - master
    paths-ignore:
    - 'Project2/C2-AgileDevelopmentwithAzure/project/starter_files/flask-sklearn/README.md'

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.7
      uses: actions/setup-python@v2
      with:
        python-version: '3.7'
    - name: Install dependencies
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/project/starter_files/flask-sklearn"
        make install
    - name: Lint with pylint
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/project/starter_files/flask-sklearn"
        make lint
    - name: Test with pytest
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/project/starter_files/flask-sklearn"
        make test
