name: Python application test with Github Actions

on: [push]
 
jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.x
      uses: actions/setup-python@v2
      with:
        python-version: '3.x'
    - name: Install dependencies
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/automated_build_exercise/starter_files"
        make install
    - name: Lint with pylint
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/automated_build_exercise/starter_files"
        make lint
    - name: Test with pytest
      run: |
        cd "Project2/C2-AgileDevelopmentwithAzure/automated_build_exercise/starter_files"
        make test
